<?xml version="1.0"?>
<ruleset name="Post Voice">
    <file>.</file>
    <arg name="extensions" value="php"/>
    <exclude-pattern>/build/*</exclude-pattern>
    <exclude-pattern>/node_modules/*</exclude-pattern>
    <exclude-pattern>/vendor/*</exclude-pattern>
    <rule ref="WordPress"/>
    <rule ref="PHPCompatibilityWP"/>
    <config name="testVersion" value="8.2-"/>
    <config name="minimum_wp_version" value="6.6"/>
</ruleset>
